.mainPageWrapper {
  text-align: center;
}
.searchContainer {
  margin-top: 5%;
}
.pages {
  margin: 20px;
}
.page {
  margin: 20px;
  border: 1px solid lightgray;
  border-radius: 50%;
  padding: 5px 10px;
  cursor: pointer;
}
.currentPage {
  margin: 20px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 700;
}
.imageGridStyle {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}
.albumStyle {
  margin: 10px;
}
